@import "tailwindcss";

@theme {
  /* Định nghĩa màu SLNA chuẩn mới */
  --color-slna-yellow: #FFD700;
  --color-slna-blue: #003078;
  
  /* Bạn có thể thêm các font chữ hoặc cấu hình khác ở đây */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Segoe UI", Arial, Helvetica, sans-serif;
  --font-mono: "Courier New", monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
