# Node modules
node_modules/
**/node_modules/

# Next.js
.next/
**/.next/

# Environment variables
.env
**/.env
**/.env.local

# Logs
*.log

# Uploaded files
backend/uploads/

# OS files
.DS_Store
Thumbs.db
